.badge { display: inline-block; }

.badge-size-sm { padding: 4px 12px; font-size: 1rem; }
.badge-size-md { padding: 4px 16px; font-size: 1.4rem; }
.badge-size-lg { padding: 4px 25px; font-size: 2rem; }

.badge-type-default { background-color: #F8F9FA; color: #22262B; }
.badge-type-info { background-color: #228BE6; color: #ffffff; }
.badge-type-warning { background-color: #FD7E14; color: #ffffff; }
.badge-type-error { background-color: #FA5252; color: #ffffff; }
.badge-type-success { background-color: #40C057; color: #ffffff; }

.badge-full-width { width: 100%; }

.badge-actionable { cursor: pointer; }
.badge-actionable:hover { opacity: .7; }

